.topic-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
    padding: 10px;

}
.topic-card img{
    height: 300px;
    background-color: #E5E7E9;
}
.card-details{
    display: flex;
    justify-content: space-between;
}
.start-btn button{
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    background-color: darkcyan;
    border: none;
    color: #fff;
    font-weight: 600;
}