.chart-container{
    display: flex;
}
.line-chart{
    margin: 0 auto;
}
.line-chart h2{
    text-align: center;
    margin-bottom: 5px;
}
.line-chart hr{
    background-color: darkcyan;
    width: 100px;
    padding: 3px;
    border: none;
    border-radius: 10px;
    margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
    .quiz-analytics{
        margin-left: -320px;
    }
    .recharts-surface{
        margin-top: -100px;
        width: 300px;
        height: 300px;
    }
    .recharts-wrapper{
        width: 300px;
        height: 300px;
    }
}