.questions-container{
    width: 70%;
    margin: 50px auto;
}
.question{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}
.question-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question-header button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}
.option{
    width: 300px;
    height: 100px;
    background-color: darkcyan;
    color: white;
    border: none;
    margin: 20px;
    cursor: pointer;
}
.option p{
    font-size: 15px;
}